@{
    ViewData["Title"] = "xFood";
}
<div class="p-4">
    <h1 class="mb-3">xFood</h1>
    <p class="lead">Escolha uma opção:</p>
    <a class="btn btn-outline-primary me-2" href="/Categories">Categorias</a>
    <a class="btn btn-outline-success" href="/Products">Produtos</a>
</div>
